<h2>Resistance: {{resistanceValue}}</h2>
<br>
<p>Select bands</p>

<form id="resistanceForm"(ngSubmit)="setResistance()">
  <select id="firstDigit" name="firstDigit" [(ngModel)]="firstDigit">
    <option *ngFor="let digit of digitsList" [value]="digit">{{digit}}</option>
  </select>
  <select id="secondDigit" name="secondDigit" [(ngModel)]="secondDigit">
    <option *ngFor="let digit of digitsList" [value]="digit">{{digit}}</option>
  </select>
  <select id="thirdDigit" name="thirdDigit" [(ngModel)]="thirdDigit">
    <option *ngFor="let digit of digitsList" [value]="digit">{{digit}}</option>
  </select>

  <select id="multiplier" name="multiplier" [(ngModel)]="digitsMultiplier">
    <option *ngFor="let multiplier of multiplierList" [value]="multiplier">{{multiplier}}</option>
  </select>

  <select id="tolerance" name="tolerance" [(ngModel)]="digitsTolerance">
    <option *ngFor="let tolerance of toleranceList" [value]="tolerance">{{tolerance}}</option>
  </select>
  <button id="submit" type="submit" >Submit</button>
</form>
