<h1>Resistance: {{firstDigit}}</h1>
<br>
<p>Select bands</p>

<div>
  <select name="firstDigit" [(ngModel)]="firstDigit">
    <option *ngFor="let digit of digitsList" [selected] [value]="digit">{{digit}}</option>
  </select>
  <select name="secondDigit" [(ngModel)]="secondDigit">
    <option *ngFor="let digit of digitsList" [value]="digit">{{digit}}</option>
  </select>
  <select name="thirdDigit" [(ngModel)]="thirdDigit">
    <option *ngFor="let digit of digitsList" [value]="digit">{{digit}}</option>
  </select>

  <select id="multiplier" name="multiplier" [(ngModel)]="digitsMultiplier">
    <option *ngFor="let multiplier of multiplierList" [value]="multiplier">{{multiplier}}</option>
  </select>

  <select id="tolerance" name="tolerance" [(ngModel)]="digitsTolerance">
    <option *ngFor="let tolerance of toleranceList" [value]="tolerance">{{tolerance}}</option>
  </select>
</div>
